asgiref==3.8.1
cffi==1.16.0
cryptography==42.0.8
Django==5.0.6
django-extensions==3.2.3
django-werkzeug-debugger-runserver==0.3.1
MarkupSafe==2.1.5
mysqlclient==2.2.4
pymysql==1.1.1
pycparser==2.22
pyOpenSSL==24.1.0
six==1.16.0
sqlparse==0.5.0
Werkzeug==3.0.3
